<p appBasicHightlight>Style me with custom directive BasicHighlight</p>

<!--<p appBetterHighlights [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with custom directive BetterHighlight</p>-->
<!--<p [appBetterHighlights]="'red'" [defaultColor]="'yellow'">Style me with custom directive BetterHighlight</p>-->
<p [appBetterHighlights]="'red'" defaultColor="yellow">Style me with custom directive BetterHighlight</p>

<button (click)="onlyOdd = !onlyOdd">Change</button>
<div *appUnless="onlyOdd">
  <p>Show</p>
</div>
